<launch>
    <arg name="robot_ip" default="192.168.1.228" />

    <include file="$(find xarm_bringup)/launch/xarm6_server.launch">
        <arg name="robot_ip" value="$(arg robot_ip)" />
    </include>

    <include file="$(find xarm6_moveit_config)/launch/realMove_exec.launch">
        <arg name="robot_ip" value="$(arg robot_ip)" />
    </include>

    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="align_depth" value="true" />
    </include>

    <include file="$(find xarm_description)/launch/xarm6_upload.launch" />

    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_to_link6_tf" 
          args="0.0481108 -0.0242403 0.0212136 0.0215310 0.0272684 0.7157493 0.6974924 link6 camera_color_optical_frame" />

    <node pkg="tly" type="vision_processor_node.py" name="vision_processor_node" output="screen" />

    <node pkg="tly" type="strategy_node" name="strategy_node" output="screen" />

    <node pkg="tly" type="xarm_controller_node" name="xarm_controller_node" output="screen" />

</launch>