<launch>
    <arg name="robot_ip" default="192.168.1.228" />
    <arg name="marker_id" default="26" />
    <arg name="marker_size" default="0.174" /> 

    <include file="$(find xarm_bringup)/launch/xarm6_server.launch">
        <arg name="robot_ip" value="$(arg robot_ip)" />
    </include>

    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="align_depth" value="true" />
        <arg name="filters" value="spatial,temporal,hole_filling" />
    </include>

    <include file="$(find xarm_description)/launch/xarm6_upload.launch" />

    <!-- 【核心改进 1】：发布吸盘末端 TCP 的静态 TF。数据来自 xArm Studio (单位转为米) -->
    <!-- args 参数顺序: x y z yaw pitch roll parent_frame child_frame -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="suction_tcp_broadcaster" 
          args="0.00046 -0.00026 0.06962 0 0 0 link6 link_tcp" />

    <node pkg="aruco_ros" type="single" name="aruco_single">
        <remap from="/image" to="/camera/color/image_raw" />
        <remap from="/camera_info" to="/camera/color/camera_info" />

        <!-- 保持 False 让 aruco_ros 利用 camera_info 自己算去畸变，这最稳妥 -->
        <param name="image_is_rectified" value="False"/>
        <param name="marker_id"          value="$(arg marker_id)"/>
        <param name="marker_size"        value="$(arg marker_size)"/>
        <param name="camera_frame"       value="camera_color_optical_frame"/>
        <param name="reference_frame"    value="camera_color_optical_frame"/>
        <param name="marker_frame"       value="aruco_marker_frame"/>
    </node>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="robot_description" value="/xarm/robot_description" />
        <remap from="joint_states" to="/xarm/joint_states" />
    </node>

    <include file="$(find tly)/launch/calibrate_xarm.launch" />
</launch>